<div *ngIf="isModalOpen" class="modal-overlay">
  <div class="modal">
    <h3>Edit Project</h3>
    <div class="modal-content">
      <div *ngFor="let col of editableColumns">
        <label>
          {{ col.header }}:
          <ng-container *ngIf="col.field === 'select'; else defaultInput">
            <select
              [ngModel]="getEditableProjectField(col.field)"
              (ngModelChange)="setEditableProjectField(col.field, $event)"
            >
              
            </select>
          </ng-container>
          <ng-template #defaultInput>
            <input
              [type]="col.field.includes('Date') ? 'date' : 'text'"
              [ngModel]="getEditableProjectField(col.field)"
              (ngModelChange)="setEditableProjectField(col.field, $event)"
            />
          </ng-template>
        </label>
      </div>
    </div>
    <div class="modal-footer">
      <button (click)="saveChanges()">Save</button>
      <button (click)="closeModal()">Cancel</button>
    </div>
  </div>
</div>
