<div class="container">
  <div class="translucent-box">
    <!-- Header with Title and Subtitle -->
    <div class="header">
      <img src="img/DATEX-removebg-preview 1.png" alt="Experion Logo">
      <p class="subtitle">" Transforming Data into Experience "</p>
    </div>

    <!-- Content Section with description and Microsoft Sign-in -->
    <div class="content">
      <button class="microsoft-signin-btn" (click)="adminLogin()">
        <i class="fa-brands fa-windows" style="color: #e13737;"></i>
        Login
      </button>
    </div>
  </div>

  <!-- Footer with Experion Technologies Logo -->
  <div class="footer">
    <img src="img/exp.png" alt="Experion Technologies Logo" class="logo" />
  </div>
</div>
