.graph_dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns layout */
  grid-template-rows: auto; /* Adjust rows based on content */
  gap: 20px; /* Space between cards */
  margin-left: 6.5cm;
  margin-top: 2.2cm;
 
}

.card {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 11cm;
 
}

.card_half {
  grid-column: span 1; 

}
.card-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
 
}
.card-header input[type="checkbox"] {
  margin-left: 60px;
  cursor: pointer;
 
}

.card_quarter {
  grid-column: span 1; 
 
}


p-chart {
  width: 100%;
    
}

.card p-chart[type="bar"] {
  max-height: 250px;
}

.card p-chart[type="pie"] {
  width: 80%; 
  max-width: 300px; 
  height: auto;
  max-height: 9cm; 
}

.cardnumber{
  font-size: 150px;
  font-size: bolder;
  position: relative;
  left: 90px;
  top: 70px;
}
.card_half{
  width:550px;
}

.satisfactorycard{
  background-color: #FFE2E5;
}

.cardtext{
font-size: 35px;
color: #4079ED;
position: absolute;
bottom: 150px;
}
