.graph_dashboard {
  display: grid;
  grid-template-columns: 2fr 1fr; 
  grid-template-rows: auto; 
  gap: 20px; 
  margin-left: 6.5cm;
  margin-top: 0.5cm;
}

.card {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 7.5cm; 
  height: auto; 
}

::ng-deep canvas {
  width: 8cm;
  height: auto;
  max-height: 4.5cm; 
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.card-header input[type="checkbox"] {
  margin-left: 60px;
  cursor: pointer;
}

.card_quarter {
  grid-column: span 1;
}

p-chart {
  width: 100%;
}

.card p-chart[type="bar"] {
  max-height: 250px;
}

.card p-chart[type="pie"] {
  width: 60%;
  max-width: 450px;
  height: auto; 
}

.cardnumber {
  font-size:70px;
  font-weight: bold;
}

/* .satisfactorycard{
color: red;
} */

.cardtext {
  font-size: 40px;
  color: #4079ED;
  font-weight: bold;
}

.score_icon{
  display: flex;
 gap:1px;

}

i {
  font-size: 75px;
  color: #ffffff;
  background-color: #ff6f6f;
  border-radius: 50%;
  padding: 25px;
  margin-top: 10px;

}

.card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.score_icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.score_icon i {
  font-size: 28px;
  
}




