<div class="card">
    <div class="header">
      <h2 style="font-family: 'Poppins', sans-serif">Project Details</h2>
  
      <!-- search -->
      <div class="search-container">
        <input
          type="text"
          placeholder="Search Project Name"
          class="search-input"
          (input)="onSearch()"
          [(ngModel)]="searchQuery"
        />
        <i class="fa fa-search search-icon" (click)="onSearch()"></i>
      </div>
      <!-- paginator -->
    <div class="pagination-container">
        <button (click)="changePage(pageNumber - 1)" [disabled]="pageNumber === 1">
          &lt;
        </button>
  
        <button *ngFor="let page of paginationArray"
                [ngClass]="{'active': page === pageNumber}"
                (click)="changePage(page)">
          {{ page }}
        </button>
  
        <span *ngIf="paginationArray[paginationArray.length - 1] < totalPages">
          ...
        </span>
  
        <button (click)="changePage(totalPages)"
                *ngIf="paginationArray[paginationArray.length - 1] < totalPages">
          {{ totalPages }}
        </button>
  
        <button (click)="changePage(pageNumber + 1)" [disabled]="pageNumber === totalPages">
          &gt;
        </button>
      </div>
    </div>
  
    <!-- table -->
    <div class="table-wrapper">
      <table class="custom-table">
        <thead>
          <tr class="custom-header">
            <th class="fixed-column project-code">Project Code</th>
            <th class="fixed-column project-name" style="border-right:2px solid #EDF2F6;">Project Name</th>
            <th *ngFor="let col of selectedColumns">{{ col.header }}</th>
          </tr>
        </thead>
        <tbody>
          <tr class="custom-row" *ngFor="let project of projects">
            <td class="fixed-column project-code">
              {{ project.projectCode }}
            </td>
            <td class="fixed-column project-name" style="border-right:2px solid #EDF2F6;">{{ project.projectName }}</td>
            <td *ngFor="let col of selectedColumns" [ngClass]="{
              'green-background': project[col.field] === 'Mail Initiated' || project[col.field] === 'Received',
              'red-background': project[col.field] !== 'Mail Initiated' && project[col.field] !== 'Received'
            }">
              {{ project[col.field] }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    
  <!-- columns  -->
  
    <!-- Controls Section -->
    <div class="controls">
      <div class="multi-select-container">
        <div class="dropdown">
          <div class="placeholder" (click)="toggleDropdown()">
            Columns</div>
          <div class="dropdown-list" *ngIf="dropdownVisible">
            <!-- Select All Checkbox -->
            <label class="dropdown-item select-all">
              <input
                type="checkbox"
                (change)="onSelectAllChange($event)"
                [checked]="isAllSelected()"
              />
              <span>Select All</span>
            </label>
            <!-- Individual Column Checkboxes -->
            <label
              class="dropdown-item"
              *ngFor="let column of allColumns"
              [ngClass]="{ 'selected-item': isSelected(column) }"
            >
              <input
                type="checkbox"
                [value]="column"
                (change)="onCheckboxChange($event, column)"
                [checked]="isSelected(column)"
              />
              <span>{{ column.header }}</span>
            </label>
          </div>
        </div>
      </div>
      
  
  
      <button class="export-button">
        <i class="fa fa-download"></i> Export
      </button>
  
    </div>
  </div>
  
  
  
  