<div class="container">
  <div>
    <!-- Header with Title and Subtitle -->
    <div class="header">
      <img src="img/DATEX-removebg-preview 1.png" alt="Experion Logo" />
      <p class="subtitle">" Transforming Data into Experience "</p>
    </div>

    <!-- Content Section with Transparent Box -->
    <div class="content">
      <form (ngSubmit)="login()" #loginForm="ngForm">
        <div>
          <label for="username" style="color: black;">Username:</label>
          <input
            type="text"
            id="username"
            name="username"
            [(ngModel)]="username"
            required
          />
        </div>
        <div>
          <label for="password" style="color: black;">Password:</label>
          <input
            type="password"
            id="password"
            name="password"
            [(ngModel)]="password"
            required
          />
        </div>
        <button class="microsoft-signin-btn" type="submit">
          <!--(click)="loginRedirect()">-->
          Sign In<i style="color: #e13737"></i>
          <!--class="fa-brands fa-windows"-->
        </button>
      </form>
    </div>

    <!-- Footer with Experion Technologies Logo -->
    <div class="footer">
      <img src="img/exp.png" alt="Experion Technologies Logo" class="logo" />
    </div>
  </div>
</div>
