 <div class="filter-container scroll">
  <div class="filter-group filter-section">
    <h4
      (click)="toggleDropdown('status')"
      class="filter-heading"  >
    Status
      <i
        class="fa"
        [ngClass]="{
          'fa-chevron-down': !showStatus,
          'fa-chevron-up': showStatus
        }"
      ></i>
    </h4>
    <div
      *ngIf="showStatus"
      class="filter-components filter-options">
      <div
      *ngFor="let status of status; let i = index"
        class="filter-option"
        style="width: 7cm; border-radius: 20px"
        [ngClass]="{ 'selected-item': filters.status[status] }">

        <label class="custom-checkbox-container">
          {{ status }}
          <input
            type="checkbox"
            [(ngModel)]="filters.status[status]"/>
          <span class="custom-checkbox"></span>
        </label>
      </div>
    </div>  
 <hr />

 <div class="filter-group filter-section">
  <h4 (click)="toggleDropdown('contractType')" class="filter-heading">
    Contract Type
    <i
      class="fa"
      [ngClass]="{
        'fa-chevron-down': !showContractType,
        'fa-chevron-up': showContractType
      }"
    ></i>
  </h4>

  <div *ngIf="showContractType" class="filter-components filter-options">
    <div
    *ngFor="let contracttype of contractType; let i = index"
      class="filter-option"
      style="width: 7cm; border-radius: 20px"
      [ngClass]="{ 'selected-item': filters.contractType[contracttype] }">
      <label class="custom-checkbox-container">
        {{ contracttype }}
        <input type="checkbox" 
        [(ngModel)]="filters.contractType[contracttype]"/>
        <span class="custom-checkbox"></span>
      </label>
    </div>
  </div>

  <hr />

  <div class="filter-group filter-section">
    <h4 (click)="toggleDropdown('dusAndDuHeads')" class="filter-heading">
      DU & DU Heads
      <i
        class="fa"
        [ngClass]="{
          'fa-chevron-down': !showDuAndDuHead,
          'fa-chevron-up': showDuAndDuHead
        }"
      ></i>
    </h4>
    <div *ngIf="showDuAndDuHead" class="filter-components filter-options">
      <div
      *ngFor="let dusandduhead of dusAndDuHeads;  let i = index"
        class="filter-option"
        style="width: 7cm; border-radius: 20px"
        [ngClass]="{ 'selected-item': filters.dusAndDuHeads[dusandduhead] }">
        <label class="custom-checkbox-container">
          {{ dusandduhead }}
          <input type="checkbox"
          [(ngModel)]="filters.dusAndDuHeads[dusandduhead]"/>
          <span class="custom-checkbox"></span>
        </label>
      </div>
    </div>
  </div>

  <hr />

  <div class="filter-group filter-section">
    <h4 (click)="toggleDropdown('regions')" class="filter-heading">
      Region
      <i
        class="fa"
        [ngClass]="{
          'fa-chevron-down': !showRegions,
          'fa-chevron-up': showRegions
        }"
      ></i>
    </h4>

    <div
      *ngIf="showRegions"
      class="filter-components filter-options"
    >
      <div
      *ngFor="let region of regions;  let i = index"
        class="filter-option"
        style="width: 7cm; border-radius: 20px"
        [ngClass]="{ 'selected-item': filters.regions[region] }">
      
        <label class="custom-checkbox-container">
          {{ region }}
          <input
            type="checkbox"
            [(ngModel)]="filters.regions[region]"/>
          <span class="custom-checkbox"></span>
        </label>
      </div>
    </div>

    <hr />

    <div class="filter-group filter-section">
      <h4 (click)="toggleDropdown('customerName')" class="filter-heading">
        Customer Name
        <i
          class="fa"
          [ngClass]="{
            'fa-chevron-down': !showCustomerName,
            'fa-chevron-up': showCustomerName
          }"
        ></i>
      </h4>
      <div *ngIf="showCustomerName" class="filter-components filter-options">
        <div
        *ngFor="let customername of customerName; let i = index"
          class="filter-option"
          style="width: 7cm; border-radius: 20px"
          [ngClass]="{ 'selected-item': filters.customerName[customername]}">
        
          <label class="custom-checkbox-container">
            {{ customername }}
            <input type="checkbox"
            [(ngModel)]="filters.customerName[customername]"/>
            <span class="custom-checkbox"></span>
          </label>
        </div>
      </div>

      <hr />

  <div class="filter-group filter-section">
    <h4 (click)="toggleDropdown('projectManager')" class="filter-heading">
      Project Manager
      <i
        class="fa"
        [ngClass]="{
          'fa-chevron-down': !showProjectManager,
          'fa-chevron-up': showProjectManager
        }"
      ></i>
    </h4>
    <div *ngIf="showProjectManager" class="filter-components filter-options">
      <div
        *ngFor="let manager of projectManager; let i = index"
        class="filter-option"
        style="width: 7cm; border-radius: 20px"
        [ngClass]="{ 'selected-item': filters.projectManager[manager] }">
        <label class="custom-checkbox-container">
          {{ manager }}
          <input type="checkbox"
          [(ngModel)]="filters.projectManager[manager]"/>
          <span class="custom-checkbox"></span>
        </label>
      </div>
    </div>

    <hr />

    <div class="filter-group filter-section">
      <h4 (click)="toggleDropdown('date')" class="filter-heading">
        Project Date
        <i
          class="fa"
          [ngClass]="{
            'fa-chevron-down': !showDate,
            'fa-chevron-up': showDate
          }"
        ></i>
      </h4>
      <div *ngIf="showDate" class="filtercomponents filter-options" style="margin-top: -20px;">
        <div class="dates">
          <div>
            <h5 style="font-size: 12px; margin-left: -60px">Start date:</h5>
            <input style="margin-left: 10px; font-size: 16px" type="date" />
          </div>
          <div>
            <h5 style="font-size: 12px; margin-left: -70px">End date:</h5>
            <input style="margin-left: 10px; font-size: 16px" type="date" />
          </div>
          <div>
            <h5 style="font-size: 12px;">
              Forecasted End date:
            </h5>
            <input style="margin-left: 10px; font-size: 16px" type="date" />
          </div>
        </div>
      </div>
    </div>

      <hr />

      <div class="filter-group filter-section">
        <h4 (click)="toggleDropdown('numberOfResources')" class="filter-heading">
          Resources
          <i
            class="fa"
            [ngClass]="{
              'fa-chevron-down': !showNumberOfResources,
              'fa-chevron-up': showNumberOfResources
            }"
          ></i>
        </h4>

        <div *ngIf="showNumberOfResources" class="filter-components filter-options">
          <div
          *ngFor="let numberofresources of numberOfResources; let i = index"
            class="filter-option"
            style="width: 7cm; border-radius: 20px"
            [ngClass]="{ 'selected-item': filters.numberOfResources[numberofresources] }">
          
            <label class="custom-checkbox-container">
              {{ numberofresources }}
              <input
                type="checkbox"
                [(ngModel)]="filters.numberOfResources[numberofresources]"/>
              <span class="custom-checkbox"></span>
            </label>
          </div>
        </div>

            <hr />

            <div class="filter-group">
              <h4 (click)="toggleDropdown('technologies')" class="filter-heading">
                Technology
                <i
                  class="fa"
                  [ngClass]="{
                    'fa-chevron-down': !showTechnology,
                    'fa-chevron-up': showTechnology
                  }"
                ></i>
              </h4>
              <div *ngIf="showTechnology" class="filter-components filter-options">
                <div
                *ngFor="let technology of technologies; let i = index"
                  class="filter-option"
                  style="width: 7cm; border-radius: 20px;"
                  [ngClass]="{ 'selected-item': filters.technologies[technology] }">

                  <label class="custom-checkbox-container">
                    {{ technology }}
                    <input type="checkbox" 
                    [(ngModel)]="filters.technologies[technology]"/>
                    <span class="custom-checkbox"></span>
                  </label>
                </div>
              </div>
            </div>

            <hr/>

        
              <!-- <div class="filter-group filter-section">
                <h4
                  (click)="toggleDropdown('cloudUsed')"
                  class="filter-heading"
                >
                  Cloud Used
                  <i
                    class="fa"
                    [ngClass]="{
                      'fa-chevron-down': !showCloudUsed,
                      'fa-chevron-up': showCloudUsed
                    }"
                  ></i>
                </h4>
                <div
                  *ngIf="showCloudUsed"
                  class="filtercomponents filter-options"
                >
                  <div
                    *ngIf="showCloudUsed"
                    class="filter-components filter-options"
                  >
                    <div
                      *ngFor="let option of cloudUsedOptions; let i = index"
                      class="filter-option"
                      style="width: 7cm; border-radius: 20px"
                      [ngClass]="{ 'selected-item': filters.cloudUsed[option] }"
                    >
                      <label class="custom-checkbox-container">
                        {{ option }}
                        <input
                          type="checkbox"
                          [(ngModel)]="filters.cloudUsed[option]"
                        />
                        <span class="custom-checkbox"></span>
                      </label>
                    </div>
                  </div>
                </div> -
              </div>
              <hr/>

              <div class="filter-group filter-section">
                <h4
                  (click)="toggleDropdown('feedbackStatus')"
                  class="filter-heading"
                >
                  Feedback Status
                  <i
                    class="fa"
                    [ngClass]="{
                      'fa-chevron-down': !showFeedbackStatus,
                      'fa-chevron-up': showFeedbackStatus
                    }"
                  ></i>
                </h4>
                <div
                  *ngIf="showFeedbackStatus"
                  class="filtercomponents filter-options"
                >
                  <div
                      *ngFor="let option of feedbackStatusOptions; let i = index"
                      class="filter-option"
                      style="width: 7cm; border-radius: 20px"
                      [ngClass]="{ 'selected-item': filters.feedbackStatus[option] }"
                    >
                      <label class="custom-checkbox-container">
                        {{ option }}
                        <input
                          type="checkbox"
                          [(ngModel)]="filters.feedbackStatus[option]"
                        />
                        <span class="custom-checkbox"></span>
                      </label>
                    </div>
                  </div>
                </div>
               <hr/>
            </div>
          </div>
        </div>
      </div>-->
      <button class="btn1" >Apply filters</button>
      <button class="btn2" (click)="resetFilters()">Reset</button>
        
          <hr />
        
   
        


