<div class="sidenavbar">
  <p class="sideheading">
    <img src="img/DATEX-removebg-preview 1.png" alt="" />
  </p>
  
  <div class="sidetext">
    <div (click)="selectDashboard()"
    [class.selected]="isDashboardSelected">
      <a routerLink="/" class="side-link">
        <p class="dashboard">
          <i class="fa-sharp-duotone fa-solid fa-chart-pie" style="margin-right: 10px"></i>
          Dashboard
        </p>
      </a>
    </div>
    <div (click)="selectVocStatus()"
    [class.selected]="isVocStatusSelected">
      <a routerLink="/voc-status" class="side-link">
        <p class="status">
          <i class="fa-solid fa-chart-simple" style="margin-right: 10px"></i>
          VOC Status
        </p>
      </a>
    </div>
    <div
    (click)="selectVocAnalysis()"
      [class.selected]="isVocAnalysisSelected">
      <a routerLink="/voc-analysis" class="side-link">
        <p class="analysis">
          <i class="fa-solid fa-chart-line" style="margin-right: 10px"></i>
          VOC Analysis
        </p>
      </a>
    </div>
  </div>
</div>
