
.header{
  display: flex;
  flex-wrap: wrap;
  background-color: #FFFFFF;
  margin-left: 230px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 5px;
  height: 1.8cm;
  width: 25.7cm;
  z-index: 1;
  
}

/* Image Styling */
img {
  height: 43px;
  width: 150px;
  position: absolute;
  right: 0;
  height: 50px;
  width: 250px;
  margin-right: 0.5cm;
  margin-top: -1.5cm;
}

/* User Icon Hover Effect */
.fa-user:hover {
 
  cursor: pointer;
  
}

/* Arrow Icon Hover Effect */
.fa-arrow-down-wide-short:hover {
 
  cursor: pointer;

}
i{
  font-size: large;

}