
.header{
  display: flex;
  flex-wrap: wrap;
  background-color: #FFFFFF;
  margin-left: 230px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 5px;
  height: 1.8cm;
  width: 25.7cm;
  z-index: 1;
  
}

img{
  position: absolute;
  right: 0;
  height: 50px;
  width: 250px;
  margin-right: 0.5cm;
  margin-top: -1.5cm;
}

.fa-user:hover{
  border-radius: 8px;
  box-shadow: 2px 2px 5px;
  transform: translateY(-2px);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.filter{ 
  z-index: 1; 
  background-color: #FFFFFF;
  display: flex;
  justify-content: flex-end;
}

.right-align{
  margin-left: 430px;
}

.fa-arrow-down-wide-short:hover{
  box-shadow: 2px 2px 5px;
  transform: translateY(-2px);
  transition: all 0.2s ease-in-out;
  cursor: pointer;

}

