<div class="header">
    <div>
      <p style="margin-top: 20px; margin-left: 20px; font-size: 25px ;font-weight: bold;">
        Hi, {{ username }}
        
        <i class="fa-solid fa-user-plus" style="margin-left:13cm; margin-top: -30px;"></i>
        <i class="fa-solid fa fa-sliders filter-toggle-button" 
        style="margin-left: 1cm;"(click)="toggleFilters()"></i>
      </p>
      <img src="img/exp.png" alt="loading..">
    </div>
    <div *ngIf="isDivVisible" class="filter right-align">
      <app-filter></app-filter>
    </div>
  </div>
  