<div class="graph_dashboard">
  <div *ngIf="basicData1?.datasets[0]?.data.length > 0"
    [ngClass]="{'single-line': basicData1?.datasets[0]?.data.length <= 3}"
    class="card card_1"
    [style.width]="calculateChartWidth(basicData1?.datasets[0]?.data.length)">
 <div class="card-header">
   <h3>Projects technologies</h3>
   <input type="checkbox" (change)="togglePieChart1()" /> Pie Chart
 </div>
 <p-chart *ngIf="!showPieChart1" type="bar" [data]="basicData1" [options]="basicOptions1"></p-chart>
 <p-chart *ngIf="showPieChart1" type="pie" [data]="pieData1" [options]="pieOptions"></p-chart>
</div>

<div *ngIf="basicData2?.datasets[0]?.data.length > 0"
    [ngClass]="{'single-line': basicData1?.datasets[0]?.data.length <= 3}"
    class="card card_2"
    [style.width]="calculateChartWidth(basicData1?.datasets[0]?.data.length)">
 <div class="card-header">
   <h3>Projects process types</h3>
   <input type="checkbox" (change)="togglePieChart2()" /> Pie Chart
 </div>
 <p-chart *ngIf="!showPieChart2" type="bar" [data]="basicData2" [options]="basicOptions2"></p-chart>
 <p-chart *ngIf="showPieChart2" type="pie" [data]="pieData2" [options]="pieOptions"></p-chart>
</div>
   <!-- Card 3 -->
   <div *ngIf="basicData3?.datasets[0]?.data.length > 0" class="card card_3">
    <div class="card-header">
      <h3>New projects from customer</h3>
      <input type="checkbox" (change)="togglePieChart3()" /> Pie Chart
    </div>
    <p-chart *ngIf="!showPieChart3" type="bar" [data]="basicData3" [options]="basicOptions3"></p-chart>
    <p-chart *ngIf="showPieChart3" type="pie" [data]="pieData3" [options]="pieOptions"></p-chart>
  </div>

  <!-- Card 4 -->
  <div *ngIf="basicData4?.datasets[0]?.data.length > 0" class="card card_4">
    <div class="card-header">
      <h3>Projects closing in one month</h3>
      <input type="checkbox" (change)="togglePieChart4()" /> Pie Chart
    </div>
    <p-chart *ngIf="!showPieChart4" type="bar" [data]="basicData4" [options]="basicOptions4"></p-chart>
    <p-chart *ngIf="showPieChart4" type="pie" [data]="pieData4" [options]="pieOptions"></p-chart>
  </div>
</div>
