<div class="card">
  <div class="header">
    <h2 style="font-family: 'Poppins', sans-serif">Project Details</h2>
    <div class="search-container">
      <input
        type="text"
        placeholder="Search Project Name"
        class="search-input"
        (input)="onSearch()"
        [(ngModel)]="searchQuery"
      />
      <i class="fa fa-search search-icon" (click)="onSearch()"></i>
    </div>
    <div class="pagination-container">
      <button (click)="changePage(pageNumber - 1)" [disabled]="pageNumber === 1">
        &lt;
      </button>

      <button *ngFor="let page of paginationArray"
              [ngClass]="{'active': page === pageNumber}"
              (click)="changePage(page)">
        {{ page }}
      </button>

      <span *ngIf="paginationArray[paginationArray.length - 1] < totalPages">
        ...
      </span>

      <button (click)="changePage(totalPages)"
              *ngIf="paginationArray[paginationArray.length - 1] < totalPages">
        {{ totalPages }}
      </button>

      <button (click)="changePage(pageNumber + 1)" [disabled]="pageNumber === totalPages">
        &gt;
      </button>
    </div>
  </div>

  <div class="table-wrapper">
    <table class="custom-table">
      <thead>
        <tr class="custom-header">
          <th class="fixed-column project-code">Project Code</th>
          <th class="fixed-column project-name" style="border-right:2px solid #EDF2F6;">Project Name</th>
          <th *ngFor="let col of selectedColumns">{{ col.header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr class="custom-row" *ngFor="let project of projects">
          <td class="fixed-column project-code"> <i class="fa-solid fa-pen custom-icon" (click)="openEditModal(project)"></i>{{ project.projectCode }}</td>
          <td class="fixed-column project-name" style="border-right:2px solid #EDF2F6;">{{ project.projectName }}</td>
          <td *ngFor="let col of selectedColumns">
              <span *ngIf="col.field === 'mailStatus' || col.field === 'feedbackStatus'"
                    [ngClass]="{
                      'green-background': project[col.field] === 'Sent' || project[col.field] === 'Received',
                      'red-background': project[col.field] !== 'Sent' && project[col.field] !== 'Received'
                    }">
                {{ project[col.field] }}
              </span>
              <span *ngIf="col.field !== 'mailStatus' && col.field !== 'feedbackStatus'">
                {{ project[col.field] }}
              </span>
            </td>

        </tr>
      </tbody>
    </table>
  </div>

  <div class="controls">
    <div class="multi-select-container">
      <div class="dropdown">
        <div class="placeholder" (click)="toggleDropdown()">Columns</div>
        <div class="dropdown-list" *ngIf="dropdownVisible">
          <label
            class="dropdown-item"
            *ngFor="let column of allColumns"

          >
            <input
              type="checkbox"
              [value]="column"
              (change)="onCheckboxChange($event, column)"
              [checked]="isSelected(column)"
            />
            <span>{{ column.header }}</span>
          </label>
        </div>
      </div>
    </div>
    <button class="import-button" (click)="openExcelModal(excelData)">Import Excel</button>
    <button class="export-button">
      <i class="fa fa-download"></i> Export
    </button>
  </div>
</div>

<app-edit-modal
  [isModalOpen]="isModalOpen"
  [editableProject]="editableProject"
  (close)="isModalOpen = false"
  (save)="saveChanges()"
></app-edit-modal>


<!-- Excel Table Modal Component -->
<app-excel-table
  *ngIf="showExcelTable"
  [excelData]="excelData"
  (close)="showExcelTable = false"
></app-excel-table>
